In [1]:
import matplotlib.pyplot as plt

In [2]:
import numpy as np

In [6]:
import pandas as pd

In [3]:
p = np.random.rand(100)

In [4]:
p

array([0.36747057, 0.93944207, 0.19831635, 0.62621672, 0.02222169,
       0.2532497 , 0.65213782, 0.05873388, 0.74182014, 0.89508501,
       0.6212756 , 0.24402836, 0.96147187, 0.5836815 , 0.14480343,
       0.09105138, 0.34893058, 0.47330205, 0.76775709, 0.78091038,
       0.60769587, 0.92168384, 0.17744986, 0.26406126, 0.88660868,
       0.90930859, 0.3392987 , 0.62815452, 0.59501749, 0.40752939,
       0.38488876, 0.79125548, 0.68730372, 0.89765375, 0.9266572 ,
       0.30546087, 0.6148419 , 0.12703996, 0.32976003, 0.39122215,
       0.68173147, 0.91942211, 0.44087671, 0.58536227, 0.76822682,
       0.83163446, 0.80870352, 0.90742553, 0.47323927, 0.16654117,
       0.39939724, 0.9861422 , 0.1257212 , 0.23575147, 0.18783472,
       0.16410963, 0.32950249, 0.04843516, 0.37199366, 0.64206851,
       0.04741944, 0.88222771, 0.72326815, 0.63902648, 0.95881364,
       0.76560323, 0.44649234, 0.6532715 , 0.3706233 , 0.53129117,
       0.17045715, 0.46201903, 0.18211802, 0.37315472, 0.21460822,
       0.34386624, 0.6188762 , 0.55160916, 0.28797868, 0.5270604 ,
       0.39948506, 0.18768555, 0.89310457, 0.27598487, 0.52639973,
       0.71387636, 0.50982647, 0.24841794, 0.7757368 , 0.45266581,
       0.2152859 , 0.77787677, 0.37836567, 0.30421666, 0.89207703,
       0.73051836, 0.497894  , 0.62326908, 0.07301651, 0.29656874])

In [15]:
data = pd.Series(p)

In [16]:
data

0     0.367471
1     0.939442
2     0.198316
3     0.626217
4     0.022222
        ...
95    0.730518
96    0.497894
97    0.623269
98    0.073017
99    0.296569
Length: 100, dtype: float64

In [17]:
df = pd.DataFrame({'column_1':data})

In [18]:
df

    column_1
0   0.367471
1   0.939442
2   0.198316
3   0.626217
4   0.022222
..       ...
95  0.730518
96  0.497894
97  0.623269
98  0.073017
99  0.296569

[100 rows x 1 columns]

In [21]:
df2 = print(df.describe())

         column_1
count  100.000000
mean     0.505610
std      0.270491
min      0.022222
25%      0.284980
50%      0.485598
75%      0.733344
max      0.986142

In [23]:
df.to_csv('df_data.csv')